.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.wd-home-navbar {
    background-color: black;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.wd-navbar-font {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}
